[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
jupyter = "*"
notebook = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
transformers = "*"
accelerate = "*"
bitsandbytes = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.10"
